@inherits LayoutComponentBase

<PageTitle>SojeeChat</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://chiapas-edi.org" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

}